.nieuws{
    padding: 21px;
    margin-bottom: 10px;
    background: white;
}
.createheaderclass{
    padding-bottom: 30px;
    padding-top: 20px;
}
.createmain{
    background: white;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-copyright{
    background-color: white;
}
.card-title{
    padding-top: 20px;
}
