.nieuws{
    padding: 21px;
    margin-bottom: 10px;
    background: white;
}
.createheaderclass{
    padding-bottom: 30px;
    padding-top: 20px;
}
.createmain{
    background: white;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-copyright{
    background-color: white;
    margin-top: 50px;
}
.card-title{
    padding-top: 20px;
}
#app1{
    margin-bottom: 50px;
}
.zoekresult{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.status {
    visibility: hidden;
    margin: -20px;
}
.categories a{
    color: black;
    padding: 10px;
}
.categories-index{
    border: 1px solid #d8dde2;
    margin-right: 10px;
    margin-left: 10px;
}
